@page "/listarexpedientes"

<!--Caso de uso Expedientes-->
@inject CasoDeUsoExpedienteConsultaTodos listarExpeidentes

<!--Caso de uso Usarios-->
@inject CasoDeUsoUsuarioActivo usuarioActual //Para obtener el usuario actual

<!--Uso de la pagina-->
@inject NavigationManager navigationManager
@rendermode InteractiveServer


@if(!_error){
    <h3>Lista de Expedientes</h3>

    <div><!--Tabla con los expedientes-->
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Caratula</th>
                    <th>Estado</th>
                    <th>Fecha creacion</th>
                    <th>Fecha modificacion</th>
                    <th>ID de usuario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var expediente in _lista){
                    <tr>
                        <td>@expediente.Id</td>
                        <td>@expediente.Caratula</td>
                        <td>@expediente.EstadoExpediente</td>
                        <td>@expediente.FechaCreacion</td>
                        <td>@expediente.FechaModiificacion</td>
                        <td>@expediente.IdUsuario</td>
                        <td>
                            <!--Examinar un expedientes especifico-->
                            <button @onclick="()=>_VerExpediente(expediente.Id)" class="btn btn-primary" >Examinar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!--Agragar un Expediente-->
    <button @onclick="()=>_VerExpediente(null)" class="btn btn-primary" >Agregar Expediente</button>

}
else{
    <ComponentError Text="@_stMensaje" ErrorSesion= "@_error" />
}

@code {

#region Varaibles de Expediente
    //Listar los Expedientes
    private List<Expediente> _lista = new List<Expediente>();

#endregion Varaibles de Expediente

#region Variables de Errores
    private bool _error = false;
    private string _stMensaje = "";

#endregion Variables de Errores

#region Metodos de pagina

    //Al inicializar el componenet muestra la lista
    protected override void OnInitialized(){
        try{
            usuarioActual.Ejecutar(out _error);
            _lista = listarExpeidentes.Ejecutar();
        }
        catch (Exception e){
            _stMensaje = $"Ocurrio un error inesperado. {e.Message}";
        }
        
    }

#endregion Metodos de pagina

#region Metodos de Expediente

    //Envia al usuarioa a la pagina del expeidente solicitado
    private void _VerExpediente(int? id){
        navigationManager.NavigateTo($"expediente/{id}");
    }

#endregion Metodos de Expediente


}